
img {
   object-fit: cover;
   opacity: 0.7;
}


h1 {
    color: #FFEBEF;;
}

h2 {
    position: absolute  ;
    top: 30%;
    left: 30%;
    color: #736A6C;
}

p {
    padding: 50px;
}

.imgBc {
    width: 1296px; 
    height: 400px;
    background: #FFFF;
    overflow: hidden;
}

#forms {
    background-color: #B3A4A7;
    padding: 50px;
    text-align: left;

}

#text {
    background-color: #B3A4A7;
    padding: 30px;
}