img {
    height: 100%;
    width: 100%; 
}

h1 {
    color: #FFEBEF;;
}

h2 {
    position: absolute;
    top: 50%;
    left: 20%;
    color: #FFEBEF;
}

p {
    padding: 50px;
}

.imgBc {
    max-width: 1000px;
}

.forms {

    background-color: #B3A4A7;
    padding: 60px;
    text-align: left;
}


#name {
    min-width: 250px;
    text-align: center;
}

#phone {

}

#meeting-time {
    max-width: 250px;
}

#message {
    max-width: 250px;
}

#number {
    
}